datafactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "obtener_lista_pry",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_FOOD_CSV",
						"type": "DatasetReference",
						"parameters": {
							"zona": "raw",
							"directorio": "config_pry",
							"archivo": "load_ondemand.txt"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Import data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "obtener_lista_pry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('obtener_lista_pry').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_usuario",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "f_actuliz",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 2,
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_FOOD_CSV",
									"type": "DatasetReference",
									"parameters": {
										"zona": "raw",
										"directorio": "sharedknow_zomato/food",
										"archivo": "food.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_FOOD_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"zona": "master",
										"directorio": "warehouse_pry/food",
										"archivo": "food.parquet"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "01_raw_source/proyecto"
		},
		"annotations": []
	}
}